<script lang="ts" setup>
import { ref } from "vue";

const text = ref("Smile");
const images = ref("smile");
const select = ref(6);

function angry() {
  text.value = "Angry";
  images.value = "angry";
  select.value = 1;
}
function cute() {
  text.value = "Cute";
  images.value = "cute";
  select.value = 2;
}
function excited() {
  text.value = "Excited";
  images.value = "excited";
  select.value = 3;
}
function pain() {
  text.value = "Pain";
  images.value = "pain";
  select.value = 4;
}
function shocked() {
  text.value = "Shocked";
  images.value = "shocked";
  select.value = 5;
}
function smile() {
  text.value = "Smile";
  images.value = "smile";
  select.value = 6;
}
</script>

<template>
  <v-container>
    <v-row style="margin-top: 5%; text-align: center">
      <v-col cols="6">
        <v-img
          v-if="images === 'angry'"
          height="550"
          src="../../feeling_imgs/angry.png"
          gradient="to top left"
        ></v-img>
        <v-img
          v-if="images === 'cute'"
          height="500"
          src="../../feeling_imgs/cute.png"
          gradient="to top left"
        ></v-img>
        <v-img
          v-if="images === 'excited'"
          height="500"
          src="../../feeling_imgs/excited.png"
          gradient="to top left"
        ></v-img>
        <v-img
          v-if="images === 'pain'"
          height="500"
          src="../../feeling_imgs/pain.png"
          gradient="to top left"
        ></v-img>
        <v-img
          v-if="images === 'shocked'"
          height="500"
          src="../../feeling_imgs/shocked.png"
          gradient="to top left"
        ></v-img>
        <v-img
          v-if="images === 'smile'"
          height="500"
          src="../../feeling_imgs/smile.png"
          gradient="to top left"
        ></v-img>
      </v-col>
      <v-col cols="6">
        <div class="text-h3 mb-1">
          {{ text }}
        </div>
        <v-btn
          class="btn"
          @click="angry()"
          :color="select === 1 ? 'yellow' : 'white'"
          >ANGRY</v-btn
        >
        <v-btn
          class="btn"
          @click="cute()"
          :color="select === 2 ? 'yellow' : 'white'"
          >CUTE</v-btn
        >
        <v-btn
          class="btn"
          @click="excited()"
          :color="select === 3 ? 'yellow' : 'white'"
          >EXCITED</v-btn
        >
        <v-btn
          class="btn"
          @click="pain()"
          :color="select === 4 ? 'yellow' : 'white'"
          >PAIN</v-btn
        >
        <v-btn
          class="btn"
          @click="shocked()"
          :color="select === 5 ? 'yellow' : 'white'"
          >SHOCKED</v-btn
        >
        <v-btn
          class="btn"
          @click="smile()"
          :color="select === 6 ? 'yellow' : 'white'"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn {
  width: 70%;
  height: 50px;
  margin-top: 3%;
}
</style>
