<script setup lang="ts">
import { ref } from "vue";
const number = ref(0);

function increment() {
  number.value++;
}
function decreease() {
  if (number.value === 0) {
    number.value = 0;
  } else {
    number.value--;
  }
}
</script>

<template>
  <v-container style="margin-top: 3%">
    <v-row>
      <v-col cols="6">
        <div class="text-h4 mb-1">First Component</div>
        <div class="text-h5 mb-1">{{ number }}</div>
        <br />
        <v-btn @click="increment">Increment</v-btn>
      </v-col>
      <v-col cols="6">
        <div class="text-h4 mb-1">Second Component</div>
        <div class="text-h5 mb-1">{{ number * 2 }}</div>
        <br />
        <v-btn @click="decreease">Decreease</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
