<script lang="ts" setup>
import { reactive, ref } from "vue";
const productList = reactive<Order[]>([]);
const totalPrice = ref(0);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

class Order {
  id: number;
  name: string;
  price: number;

  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

function addOrder(order: Order) {
  productList.push(order);
  calPrice(order.price);
}

const calPrice = (price: number) => {
  totalPrice.value = totalPrice.value + price;
  return totalPrice;
};
</script>

<template>
  <v-container>
    <v-col>
      <v-row>
        <v-col>
          <v-row style="max-height: 600px" class="overflow-y-auto">
            <v-col v-for="(pd, index) of products" :key="index">
              <v-card width="150px" height="130px" style="text-align: center">
                <v-card-title>{{ pd.name }}</v-card-title>
                <v-card-subtitle>{{ pd.price }}</v-card-subtitle>
                <v-btn style="margin-top: 5%" @click="addOrder(pd)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-table style="height: 550px" class="overflow-y-auto">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="productList.length === 0">
                <td colspan="3" style="text-align: center">NO Data</td>
              </tr>
              <tr v-else v-for="(pd, index) of productList" :key="index">
                <td>{{ pd.id }}</td>
                <td>{{ pd.name }}</td>
                <td>{{ pd.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <div class="text-h3" style="font-weight: 300">
            Sum: {{ totalPrice }}
          </div>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
</template>
